if theme.google_analytics
  script.
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
    ga('create','#{theme.google_analytics}','auto');ga('send','pageview');

if theme.baidu_analytics
  script.
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.async = 1;
      hm.src = 'https://hm.baidu.com/hm.js?' + '#{theme.baidu_analytics}';
      var s = document.getElementsByTagName("script")[0];
      s.parentNode.insertBefore(hm, s);
    })();

if theme.fancybox == true
  script(type='text/javascript', src='/libs/fancybox/3.5.7/jquery.fancybox.min.js', async)
  script(type='text/javascript', src=url_for(theme.js) + '/fancybox.js', async)
  link(rel='preload', type='text/css', href='/libs/fancybox/3.5.7/jquery.fancybox.min.css', as='style', onload='this.rel="stylesheet"')

if theme.tinysou
  script.
    var option = {
      engineKey: '#{theme.tinysou}'
    };
    (function(w,d,t,u,n,s,e){
      s = d.createElement(t);
      s.src = u;
      s.async = 1;
      w[n] = function(r){
        w[n].opts = r;
      };
      e = d.getElementsByTagName(t)[0];
      e.parentNode.insertBefore(s, e);
    })(window,document,'script','//tinysou-cdn.b0.upaiyun.com/ts.js','_ts');
    _ts(option);

if theme.swiftype
  script.
    (function(w,d,t,u,n,s,e){w['SwiftypeObject']=n;w[n]=w[n]||function(){
    (w[n].q=w[n].q||[]).push(arguments);};s=d.createElement(t);
    e=d.getElementsByTagName(t)[0];s.async=1;s.src=u;e.parentNode.insertBefore(s,e);
    })(window,document,'script','//s.swiftypecdn.com/install/v2/st.js','_st');
    _st('install','#{theme.swiftype}','2.0.0');

if theme.self_search == true
  script.
    function setupSearch() {
      var search_path = '#{config.search.path}';
      if (search_path.length == 0) {
        search_path = 'search.xml';
      }
      var path = '#{config.root}' + search_path;
      searchFunc(path, 'local-search-input', 'local-search-result');
    }

if theme.canvas_nest.enable == true
    - var color=theme.canvas_nest.color || "0,0,0"
    - var opacity=theme.canvas_nest.opacity || "0.5"
    - var zIndex=theme.canvas_nest.zIndex || "-2"
    - var count=theme.canvas_nest.count || "50"
    script(type='text/javascript', color=color, opacity=opacity, zIndex=zIndex, count=count,src='//lib.baomitu.com/canvas-nest.js/2.0.4/canvas-nest.umd.js')

if page.mathjax
  include mathjax.pug

if page.mathjax2
  include mathjax2.pug

if theme.graphviz.enable == true
  script.
    load('/libs/viz/2.1.2/viz.js').then(() => {
      let graphs = document.querySelectorAll('.graphviz')

      if (graphs.length > 0) {
        for (let graph of graphs) {
          let svg = undefined;
          try {
            svg = Viz(graph.textContent.replaceAll('–', '--'), 'svg');
          } catch(e) {
            svg = `<pre class="error">${e}</pre>`;
          }
          graph.outerHTML = svg;
        }
      }
    });
    
script.
  load('/libs/jquery/3.4.0/jquery.min.js').then(() => {
    load(
      '/js/search.js',
      '/js/share.js',
      '/js/smartresize.js',
      '/js/totop.js'
    ).then(() => {
      load('/js/codeblock-resizer.js').then(() => {});
      ('function' == typeof setupSearch) && setupSearch();
    });
  });
