if theme.gitalk.enable == true
    #container
    link(rel='preload', type='text/css', href='/libs/gitalk/1.6.2/gitalk.css', as='style', onload='this.rel="stylesheet"')
    script.
      (function() {
        load(
          '/libs/blueimp-md5/2.10.0/js/md5.js',
          '/libs/gitalk/1.6.2/gitalk.min.js'
        ).then(() => {
          var gitalk = new Gitalk({
            clientID: '#{theme.gitalk.client_id}',
            clientSecret: '#{theme.gitalk.client_secret}',
            repo: '#{theme.gitalk.repo}',
            owner: '#{theme.gitalk.owner}',
            admin: ['#{theme.gitalk.admin}'],
            id: md5(location.pathname),
            distractionFreeMode: false
          })
          gitalk.render('container')
        })
      })();